body, html {
		height: 100%;
		margin: 0;
		padding: 0;
	}

	body {
		background-color: #808080;
	}

	#topBanner {
		background-color: #404040;
	}

	#leftNavigationPages {
		list-style: none;
		width: 100%;
		justify-content: flex-end;
		padding-right: 40px;
	}

	#rightNavigationPages {
		list-style: none;
		justify-content: flex-start;
		align-items: baseline;
		width: 100%;
	}

	#title {
		color: white;
		font-size: 24px;
		padding-right: 10px;
	}

	.pushapart {
		display: flex;
		justify-content: space-between;
	}

	.hidden {
		display: none;
	}

	.flexRow {
		display: flex;
		flex-direction: row;
	}

	.flexColumn {
		display: flex;
		flex-direction: column;
	}

	.page {
		
	}

	.page a {
		text-decoration: none;
		color: lightgray;
	}

	.page:not(#title) a {
		padding: 2px 10px;
		margin: auto 10px;
		font-size: 18px;
		border-radius: 5px;
		transition: background-color 0.5s ease-in, color 0.5s ease-out;
	}

	.page:not(#title) a:hover {
		background-color: gray;
		color: black;
	}

	#mainContainer {
		width: 60%;
		align-self: center;
		background-color: lightgray;
		flex: 1;
	}