<!DOCTYPE html>
<html>
<head>
	<title>Path of Progression</title>
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Styles/prettify.css")">
	<script src="https://code.jquery.com/jquery-3.3.1.js"
			integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			crossorigin="anonymous"></script>
</head>
<body class="flexColumn">
	<div id="topBanner">
		<div class="pushapart">
			<ul id="rightNavigationPages" class="flexRow">
				<li id="title" class="page">
					<a href="/home">Path of Progression</a>
				</li>
				<li class="page">
					<a href="/home">Home</a>
				</li>
				<li class="page">
					<a href="/createProgression">Create Progression</a>
				</li>
				<li class="page">
					<a href="/viewProgression">View Progression</a>
				</li>
			</ul>
			<ul id="leftNavigationPages" class="flexRow">
				<li class="page">
					<a href="https://github.com/bhaan23/NewShinyIdea">github</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="mainContainer">

	</div>
	<div id="footerContainer">

	</div>
</body>
</html>
