/* Page Independent Styles */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body, input, button, select, textarea {
	font-size: 1.1rem;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	color: white;
	display: grid;
	grid-template-rows: 5em auto 3em;
	grid-template-columns: 100%;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

/* Utilities */

.hidden {
	display: none;
}

.normalLink {
	cursor: pointer;
	text-decoration: underline;
}

button {
	padding: 0.5rem 1rem;
	transition: all 0.5s;
	outline: none;
}

button:disabled {
	opacity: .65;
}

button:not(:disabled):hover {
	cursor: pointer;
}

button.primaryButton {
	border: 1px solid #0081ce;
	background-color: #0081ce;
	color: white;
}

button.secondaryButton {
	border: 1px solid #005486;
	background-color: white;
	color: #005486;
}

button.primaryButton:not(:disabled):hover {
	background-color: #005486;
	border-color: #005486;
	color: white;
}

button.secondaryButton:not(:disabled):hover {
	background-color: lightgray;
}

button.largeButton {
	padding: 1rem 2rem;
}

input, select, textarea {
	border: 2px solid transparent;
	padding: 0.4rem 0.8rem;
	border-bottom-color: #0081ce;
	background-color: transparent;
	color: inherit;
	transition: all 0.25s linear;
}

select:disabled {
	border-bottom-color: #005486;
}

input:focus, select:focus {
	outline: none;
	border-color: #0081ce;
}

input:not(:focus).error {
	border-color: #cc0000;
}

input:not(:focus).success {
	border-color: #009900;
}

option, optgroup {
	color: black;
	font-size: inherit;
}

textarea {
	font-family: Arial;
	border-width: 1px;
	border-color: #0081ce;
	width: 60%;
	min-width: 15rem;
	height: 5rem;
	min-height: 4rem;
	resize: none;
	padding: 1rem;
	outline: 1px solid transparent;
}

textarea:focus {
	outline: 1px solid #0081ce;
}

.checkboxContainer {
	position: relative;
	top: 5px;
}

input[type=checkbox] {
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	z-index: 1;
	cursor: pointer;
}

.checkboxContainer label {
	width: 3rem;
	height: 1.5rem;
	background-color: lightgray;
	display: inline-block;
	border-radius: 100px;
	position: relative;
}

.checkboxContainer label:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 3px;
	width: 1.25rem;
	height: 1.25rem;
	background-color: white;
	border-radius: 90px;
	transition: 0.3s;
}

input[type=checkbox]:checked + label {
	background-color: #0081ce;
}

input[type=checkbox]:checked + label:after {
	left: calc(100% + 5px - 3rem);
	transform: translateX(100%);
}

label:active:after {
	width: 1.3rem;
}

/* Typeahead */

.typeAheadContainer {
	position: relative;
}

.typeAheadList {
	position: absolute;
	top: auto;
	background-color: white;
	color: black;
	padding: 1rem;
	max-height: 10rem;
	overflow-y: scroll;
}

.typeAheadGroup {
	display: flex;
	flex-direction: column;
	width: max-content;
}

.typeAheadItem {
	margin-left: 1rem;
	cursor: pointer;
}

.typeAheadGroupTitle {
	font-weight: bold;
}

.typeAheadSelected {
	text-decoration: underline;
	font-weight: bold;
}

/* Header styles */

#header {
	background-color: #404040;
	display: flex;
	flex-direction: column;
	justify-content: center;

	grid-area: header;
}

#navigation {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}

.page {
	margin-left: 1rem;
	padding: 1rem;
}

.page:not(#title) {
	font-size: 1.3rem;
}

.page:not(#title):after {
	content: "";
	display: block;
	height: 1px;
	width: 0;
	margin: auto;
	background-color: white;
	transition: .25s linear;
}

.page:not(#title):hover:after {
	width: 100%;
}

.page:hover {
	cursor: pointer;
}

#title {
	font-size: 2rem;
}

/* Main container styles */

#backgroundContainer {
	background-image: url('./Path_of_Exile_Wallpaper_25.jpg');
	background-position: fixed;
	background-repeat: no-repeat;
	background-size: 110% auto;
	background-color: black;

	display: flex;
	flex-direction: column;

	grid-area: main;
}

#mainContainer {
	width: 70%;
	align-self: center;
	background-color: rgba(47, 47, 47, 0.9);
	flex: 1;
}

.pageTitle {
	text-align: center;
	text-decoration: underline;
}

#about, #viewProgression, #createProgression {
	margin: 2rem;
}

/* About section */

#about {
	font-size: 1.2em;
}

#startingOptionsContainer {
	display: flex;
	flex-direction: column;
}

#startingOptions {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

#startingOptions > * {
	margin-top: 2rem;
}

#gettingStartedList {
	padding-left: 0;
}

#gettingStartedList li {
	margin-bottom: 1rem;
}

/* View Progression section */

#userInfo {
	margin-bottom: 1rem;
	display: grid;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	grid-template-rows: auto;
	grid-template-columns: 42% 42%;
	justify-content: center;
	grid-template-areas:
		"accountName characterName"
		"sessionId clientLog"
		"progressionFile progressionFile";
}

@media screen and (max-width: 1000px) {
	#userInfo {
		grid-template-columns: 80%;
		grid-template-areas:
			"accountName"
			"characterName"
			"sessionId"
			"clientLog"
			"progressionFile";
	}
}

#accountNameContainer {
	grid-area: accountName;
}

#characterNameContainer {
	grid-area: characterName;
}

#sessionIdContainer {
	grid-area: sessionId;
}

#clientLogContainer {
	grid-area: clientLog;
}

#progressionFileContainer {
	justify-self: center;
	grid-area: progressionFile;
}

#characterNamesDropdown {
	min-width: 12rem;
}

#currentClientFile, #currentProgressionFile {
	color: #777777
}

.apiInfoListItem > * {
	margin-top: 1rem;
}

#tiles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tile {
	margin-top: 1rem;
	color: black;
	height: 10rem;
	width: 85%;

	transition: opacity 0.75s ease-out,
				height 0.5s ease-in-out 0.75s,
				padding 0.5s ease-in-out 0.75s,
				margin 0.5s ease-in-out 0.75s;
}

#saveButton, #popout {
	margin-left: 1.5rem;
}

/* animation for getting rid of tiles */
.fadeout {
	height: 0;
	padding: 0;
	margin: 0;
	opacity: 0;
}

.tile:not([data-level="1"]) .closeIcon, .fadeout .closeIcon {
	opacity: 0;
	height: 0;
	width: 0;
}

.tile[data-level="1"] {
	background-image: linear-gradient(to bottom, white, #00a048);
}

.tile[data-level="2"] {
	background-image: linear-gradient(to bottom, white, #ffa500);
}

.tile[data-level="3"] {
	background-image: linear-gradient(to bottom, white, red);
}

.closeIcon {
	width: 1.5rem;
	height: 1.5rem;
	position: relative;
	float: right;
	margin-right: 1rem;
	margin-top: 1rem;
	opacity: 0.5;
	transition: 0.25s;
}

.closeIcon:hover {
	opacity: 1;
	cursor: pointer;
}

.closeIcon:before, .closeIcon:after {
	position: absolute;
	content: " ";
	height: 1.5rem;
	width: 1.5px;
	background-color: black;
	left: 0.65rem;
}

.closeIcon:before {
	transform: rotate(45deg);
}

.closeIcon:after {
	transform: rotate(-45deg);
}

.tileDescriptionContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 1rem;
}

.tileTitle {
	align-self: center;
	text-decoration: underline;
	font-size: 1.4rem;
}

.tileDescription {
	text-indent: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#viewProgressionDescription > p {
	text-align: center;
}

/* Footer Banner */

#footer {
	background-color: #404040;
	display: flex;
	flex-direction: row;
	align-items: center;

	grid-area: footer;
}

#footer > * {
	margin-left: 1rem;
}

/* Create Progression section */

#nodeInfo {
	display: flex;
	flex-direction: column;
}

#nodeInputData > * {
	margin-bottom: 0.75rem;
	margin-top: 0.75rem;
}

#nodeInputData {
	border-top: 1px solid white;
	margin-top: 1rem;
	padding-top: 1rem;
}

#createFileOptions {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#createFileOptions button {
	margin-right: 1rem;
}

#titleInputContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
}

#titleInputContainer > * {
	padding: 1rem;
}

#titleInputContainer > *:first-child {
	padding-left: 0;
}

#titleInputContainer > * {
	padding: 1rem;
}

#titleInputContainer > *:first-child {
	padding-left: 0;
}

#descriptionContainer label {
	vertical-align: top;
}

#completionInputContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: flex-start;
}

#completionInputContainer > * {
	margin-right: 1rem;
}

#nodePreview, #dependantNodes, #dependantTiles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#dependantTiles {
	width: 100%;
}

#nodePreview .tile {
	margin-top: 0;
}

#createProgressionAddNode {
	align-self: center;
}

#currentNodeContainer > * {
	margin-right: 1rem;
}

#creationDescription > p {
	text-align: center;
}

#modSearchInput, #titleInput {
	min-width: 14rem;
	max-width: 37rem;
}

#gemSelection optgroup, #gemSelection option {
	color: white;
}

.gemPreviewContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.gemPreview {
	display: flex;
	align-items: center;
}

.gemPreview img {
	transform: scale(0.8, 0.8);
}

#currentSaveFile {
	margin-left: 0.5rem;
}

/* Modal styles */

#modal {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0,0.7); /* Need the opacity on specifically just the background-color */
}

#modalContent {
	background-color: white;
	color: black;
	margin: 15% auto;
	border: 1px solid black;
	box-shadow: 0 0 1rem black;
	min-width: 20%;
	max-width: 40%;
}

#modalHeader, #modalBody {
	border-bottom: 1px solid gray;
	padding: 1rem;
}

#modalHeader h2 {
	display: inline;
}

#modalFooter, #modalBody {
	margin: 1rem auto;
}

#modalFooter, #modalBody {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#modalCloseIcon {
	margin-top: 0;
	margin-right: 0;
}

#modalAddButton {
	margin-right: 1rem;
}

#dependantNodesSelector {
	width: 75%;
	border-color: #0081ce;
}

/* Alerts styles */

#alerts {
	position: fixed;
	bottom: 3rem;
	left: 1rem;;
	display: flex;
	flex-direction: column-reverse;
}

.alert {
	margin-bottom: 1rem;
	padding: 1rem;
	border-width: 3px;
	border-radius: 10px;
	border-style: solid;
	max-width: 14rem;
	opacity: 0;
	transition: all 0.7s;
	transform: translateX(-400px);
}

.alert[data-alertType="1"] {
	background-color: rgb(11, 128, 0, 0.6);
	border-color: rgb(11, 128, 0);
}

.alert[data-alertType="2"] {
	background-color: rgb(255, 230, 0, 0.6);
	border-color: rgb(255, 200, 0);
	color: black;
}

.alert[data-alertType="3"] {
	background-color: rgb(255, 30, 0, 0.6);
	border-color: rgb(255, 30, 0);
}

.alert[data-alertType="4"] {
	background-color: rgb(0, 129, 206, 0.9);
	border-color: rgb(0, 78, 255);
}

.alert .closeIcon {
	margin-top: -0.8rem;
	margin-right: -0.8rem;
}

.alert .closeIcon:before,
.alert .closeIcon::after {
	left: 1rem;
	height: 1rem;
}

.showAlert {
	transform: translateX(0px);
	opacity: 1;
}